
.lor-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -79%;

}

.lore-2 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-2 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-2 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-2 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}

.lor-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -13%;

}

.lore-3 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-3 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi-3 {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-3 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-3 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}

.lor-4 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -12%;

}

.lore-4 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-4 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi-4 {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-4 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-4 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}

.lor-5 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -12%;

}

.lore-5 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-5 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi-5 {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-5 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-5 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}

.lor-6 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -12%;

}

.lore-6 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-6 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi-6 {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-6 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-6 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}

.lor-7 {
    display: flex;
    flex-wrap: wrap;
    padding: 100px ;
    margin-top: -12%;

}

.lore-7 {
    display: flex;
    flex-direction: column;
    margin-left: 65%;
    margin-bottom: 5rem;
    margin-right: 15rem;
}



.lorem-img-7 {
    display: flex;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 200px;
    margin-top: -10%;
    border-radius: 20px ;
}

.posi-7 {
    position: relative;
    margin-right: 200px;
    margin-top: -130px;
}


.lor-titulo-7 {
    color: green;
    font-size: 18px;
    margin-left: -63px;
    margin-top: -10px;
    
}

.lor-descricao-7 {
    color: black;
    float: right;
    margin-right: 25%;
    margin-top: -25px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    font-weight: bold;
    
}


